<div class="container">
  <h2>Specjalizacja: {{doctorListing.specializationName}}</h2>
  <div class="full-width container">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Imię </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.name}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.surname}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="pesel">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Pesel </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.pesel}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="button">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="deleteDepartamentFromDoctor(element.id)">usuń z listy </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="doctorListing.totalCount"
                   [pageSize]="pageSize"
                   (page)="pageChanged($event)">
    </mat-paginator>
  </div>
</div>
