<div class="container">
  <h2>{{departamentListing.doctorName}} {{departamentListing.doctorSurname}}</h2>
  <div class="full-width container">
    <br />
    <h3>Szpital</h3>
    <mat-form-field>
      <mat-select placeholder="Szpital" (selectionChange)="getDepartaments($event)" >
        <mat-option>None</mat-option>
        <mat-option *ngFor="let hospital of hospitalList" [value]="hospital"  >{{hospital.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="hospitalId">
      <h3>Oddziały</h3>
      <mat-form-field  >
        <mat-select (change)="addDepartamentToDoctor()" placeholder="Oddział" [formControl]="departaments" multiple >
          <mat-option *ngFor="let departament of departamentList" [value]="departament">{{departament.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>  

    <h3>Specjalizacje</h3>
    <mat-form-field>
      <mat-select placeholder="Specjalizacja" [formControl]="specializations" multiple>
        <mat-option *ngFor="let specialization of specializationList" [value]="specialization">{{specialization.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


</div>
