<div class="container">
   <h2>Baza danych pacjentów</h2>
  <div class="full-width container">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Imię  </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a>{{element.name}}</a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef> Nazwisko  </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a>{{element.surname}}</a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="pesel">
        <mat-header-cell *matHeaderCellDef> Pesel </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a>{{element.pesel}}</a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="button">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">          
          <button mat-raised-button color="primary" (click)="CreateDoctor(element.id)">Zrób lekarzem</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="patientListing.totalCount"
                   [pageSize]="pageSize"
                   (page)="pageChanged($event)">
    </mat-paginator>
  </div>
</div>
