<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MEDICOWEB </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="#">Home</a>
    <a class="nav-item nav-link" *ngIf="isLoggedIn" [routerLink]="" (click)="logout()">Wyloguj się</a>
    <a class="nav-item nav-link" *ngIf="!isLoggedIn" [routerLink]='["/login"]'>Zaloguj się</a>
    <a class="nav-item nav-link" *ngIf="!isLoggedIn" [routerLink]='["/register"]'>Zarejestruj się</a>
  </div>
</nav>
