<h1 mat-dialog-title>Edytuj specjalizację</h1>
<form [formGroup]="newPostForm" (ngSubmit)="submit()">
  <div mat-dialog-content>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input id="pp-name"
               type="name"
               matInput placeholder="Nazwa specjalizacji"
               formControlName="name"
               required>
        <mat-error *ngIf="newPostForm.hasError('required', 'name')">
          Nazwa jest <strong>wymagana</strong>
        </mat-error>
      </mat-form-field>
      
    </mat-card-content>
  </div>
  <div mat-dialog-actions align="end">
    <mat-card-actions class="text-center">
      <button mat-raised-button [mat-dialog-close]>Anuluj</button>
      <button mat-raised-button color="primary" type="submit">Zapisz</button>
      <small class="form-text text-danger text-center error-message">{{ message }}</small>
    </mat-card-actions>
  </div>
</form>
