<div *ngIf="isLoggedIn">
  <button mat-raised-button color="primary" (click)="openCreateSpecialzationModal()">Utwórz nową specjalizację</button>
</div>
<div class="full-width container">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nazwa specjalizacji </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]='["/specialization", element.id]'>{{element.name}}</a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="buttonEdit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="deleteSpecialization(element.id)">usuń</button>
        <button mat-raised-button color="primary" (click)="editSpecialization(element.id)">edytuj</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="specializationListing.totalCount"
                 [pageSize]="pageSize"
                 (page)="pageChanged($event)">
  </mat-paginator>
</div>
